<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Ferraz Portfolio</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/script.js"></script>
</head>

<body>
    <header>

        <div class="user">
            <img src="imgs/profile.jpg" alt="Foto de Perfil de Daniel Ferraz">
            <h3 class="name">Daniel Ferraz</h3>
            <p class="post">Developer Wanna Be</p>

        </div>

        <div class="quicky">
            <div class="social"><a href="https://github.com/danielfmm" target="_blank"><i class="fa-brands fa-github"></i></a></div>
            <div class="social"><a href="https://www.linkedin.com/in/danielferrazmm/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
            <div class="social"><a href="https://wa.me/5531992162350"><i class="fa-brands fa-whatsapp"></i></a></div>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="#home">Início</a></li>
                <li><a href="#about">Sobre Mim</a></li>
                <li><a href="#education">Formação</a></li>
                <li><a href="#portfolio">Portfólio</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
    </header>
    <div id="menu" class="fas fa-bars"></div>

    <section class="home" id="home">

        <h3>OLÁ!</h3>
        <h1>Eu sou <span>Daniel Ferraz</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, laudantium beatae. Numquam recusandae,
            dolores sit voluptatum quas pariatur distinctio natus sint nemo, modi, neque quae incidunt expedita!
            Consequatur, eum ad?</p>
        <a href="#about"><button class="btn">Sobre Mim <i class="fas fa-user"></i></button></a>

    </section>


    <section class="about" id="about">

        <h1 class="heading">Quem <span>Sou</span> Eu? </h1>
        <div class="row">
            <div class="info">
                <h3><span>Nome :</span> Daniel Ferraz</h3>
                <h3><span>Idade :</span> 34 anos</h3>
                <h3><span>Função :</span> Fullstack com foco em backend</h3>
                <h3><span>Idiomas :</span> Português (Nativo), Inglês (Avançado; C1)</h3>
                <h3><span>Outras informações :</span> Já trabalhei como tradutor de legendas para serviços de streaming. Experiência como SysAdmin (antes de virar DevOps) há muitos anos operando linux, servidores web, banco de dados e outros serviços.</h3>
                <a href="#"><button class="btn"> download CV <i class="fa-solid fa-cloud-arrow-down"></i></button></a>
            </div>

            <div class="counter">

                <div class="box">
                    <span>1+</span>
                    <h3>anos de experiência</h3>
                </div>

                <div class="box">
                    <span>11</span>
                    <h3>projetos feitos</h3>
                </div>

                <div class="box">
                    <span>6</span>
                    <h3>clientes satisfeitos</h3>
                </div>

                <div class="box">
                    <span>1</span>
                    <h3>esposa orgulhosa</h3>
                </div>

            </div>

        </div>

    </section>

    <section class="education" id="education">

        <h1 class="heading"><span>Meus</span> Estudos </h1>
        <div class="box-container">
            <div class="box">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>2022</span>
                <h3>React e Node.js</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus optio labore necessitatibus?
                    Repudiandae fuga labore inventore illo ullam, sed eos vero. Obcaecati quaerat nobis numquam
                    voluptatum tempora, eligendi voluptatem optio.</p>
            </div>

            <div class="box">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>2022</span>
                <h3>Python e Orientação a Objetos</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus optio labore necessitatibus?
                    Repudiandae fuga labore inventore illo ullam, sed eos vero. Obcaecati quaerat nobis numquam
                    voluptatum tempora, eligendi voluptatem optio.</p>
            </div>

            <div class="box">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>2023</span>
                <h3>Django/API</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus optio labore necessitatibus?
                    Repudiandae fuga labore inventore illo ullam, sed eos vero. Obcaecati quaerat nobis numquam
                    voluptatum tempora, eligendi voluptatem optio.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>2023</span>
                <h3>HTML e CSS</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus optio labore necessitatibus?
                    Repudiandae fuga labore inventore illo ullam, sed eos vero. Obcaecati quaerat nobis numquam
                    voluptatum tempora, eligendi voluptatem optio.</p>
            </div>
            <div class="box">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>2023</span>
                <h3>React com Typescript</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus optio labore necessitatibus?
                    Repudiandae fuga labore inventore illo ullam, sed eos vero. Obcaecati quaerat nobis numquam
                    voluptatum tempora, eligendi voluptatem optio.</p>
            </div>

            <div class="box">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>2021</span>
                <h3>MongoDB</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus optio labore necessitatibus?
                    Repudiandae fuga labore inventore illo ullam, sed eos vero. Obcaecati quaerat nobis numquam
                    voluptatum tempora, eligendi voluptatem optio.</p>
            </div>

            <div class="box">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>2019</span>
                <h3>WebScrapping (Selenium/PlayWright)</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus optio labore necessitatibus?
                    Repudiandae fuga labore inventore illo ullam, sed eos vero. Obcaecati quaerat nobis numquam
                    voluptatum tempora, eligendi voluptatem optio.</p>
            </div>

            <div class="box">
                <i class="fa-solid fa-graduation-cap"></i>
                <span>2023</span>
                <h3>Banco de Dados SQL/PostgreSQL</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus optio labore necessitatibus?
                    Repudiandae fuga labore inventore illo ullam, sed eos vero. Obcaecati quaerat nobis numquam
                    voluptatum tempora, eligendi voluptatem optio.</p>
            </div>

        </div>

    </section>

    <section class="portfolio" id="portfolio">

        <h1 class="heading"><span>Meus</span> Projetos</h1>
        <div class="box-container">

            <div class="box">
                <img src="imgs/screen.jpg" alt="">
            </div>

            <div class="box">
                <img src="imgs/screen.jpg" alt="">
            </div>

            <div class="box">
                <img src="imgs/screen.jpg" alt="">
            </div>

            <div class="box">
                <img src="imgs/screen.jpg" alt="">
            </div>

            <div class="box">
                <img src="imgs/screen.jpg" alt="">
            </div>

            <div class="box">
                <img src="imgs/screen.jpg" alt="">
            </div>

            <div class="box">
                <img src="imgs/screen.jpg" alt="">
            </div>

            <div class="box">
                <img src="imgs/screen.jpg" alt="">
            </div>

    </section>

    <section class="contact" id="contact">
        <h1 class="heading"><span>Vamos</span> Conversar?</h1>
        <div class="row">
            <div class="content">

                <h3 class="title">Contatos</h3>
                <div class="info">
                    <h3><i class="fas fa-envelope"></i> daniel@danielferraz.dev</h3>
                    <h3><i class="fas fa-phone"></i> (31) 9 9216-2350 </h3>
                    <h3><i class="fas fa-phone"></i> (31) 9 9742-3164</h3>
                    <h3><i class="fas fa-map-marker-alt"></i> Belo Horizonte, Minas Gerais</h3>
                </div>
            </div>
            <form action="">
                <input type="text" class="box" placeholder="Nome">
                <input type="email" class="box" placeholder="E-mail">
                <input type="text" class="box" placeholder="projeto">
                <textarea name="" id="" cols="30" rows="10" class="box message" placeholder="mensagem"></textarea>
                <button type="submit" class="btn">Enviar <i class="fas fa-paper-plane"></i></button>
            </form>
        </div>
    </section>

    <a href="#home" class="top">
        <i class="fa-solid fa-shuttle-space"></i>
    </a>

</body>

</html>